body{
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 97vw;
    min-height: 97vh;
    background-image: url('assets/background.jfif');
    background-size: cover;
}

#screen{
    position:absolute;
    top: 8.7%;
    left: 35.2%;
    height: 33%;
    width: 29.5%;
    text-align: center;
}

#screen h1 {
    color:aqua;
}

#combatLine{
    position:sticky;
    top: 68vh;
    display: flex;
    justify-content: center;
}

#p1 img{
    margin-right: 70px;
    scale: 1.5;
}

#p2 img{
    scale: 1.5;
}